.g-bd {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 0.8888888rem;
    
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.u-input{
	position: relative;
}

#newPassword{
	position: absolute;
	left: 1rem;
	font-size: 0.7592rem;
}
#newPassword2{
	position: absolute;
	left: 1rem;
	font-size: 0.7592rem;
}
#pwd{
	position: absolute;
	left: 4rem;
	font-size: 0.7592rem;
}
#pwd2{
	position: absolute;
	left: 5.416666rem;
	font-size: 0.7592rem;
}
.g-bd  .inputbox {
    height: 2.56rem;
    line-height: 2.56rem;
    z-index: 19;
    position: relative;
    margin-bottom: 0px;
    font-size: 12px;
     border: none;
     display: flex;
    padding-bottom: 1px;
    border:1px solid #F9F9F9;
    background-color: #FEFEFF;
    border-radius: 5px;
    box-shadow: 7px 7px 12px #EEEBFC;
}



.g-bd  .u-input {
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}


.g-bd .u-input input {
    border:0;
    width:100%;
    background:none;
    height: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-left: 0;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: normal;
}

.g-bd .u-input2 input {
    border:0;
    width:100%;
    background:none;
    height: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-left: 0;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: normal;
}


.loginbox {

    display: flex;
   	align-items: center;
    flex-flow: column;
    justify-items: center;
    margin: 0 2.6666rem;
    margin-top: 2.222rem;
}

.u-loginbtn {
	
     height: 2.222rem;
    font-size: 0.694444rem;
    line-height: 2.222rem;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #39CBFE;
    box-shadow: 1px 1px 10px 1px #39CBFE;
}


